 body {
 	margin:  0;
 	font-family: Helvetica;
 }

 .container {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	height: 100vh;
    font-weight: 10 !important;
 }

 .logo {
 	height:  80px;
 	width: 80px;
 }